$primary-color: #ff6060;
$secondary-color: #f6f6f6;

.main-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

/// IMAGE ///
.mountain-forest {
  display: flex;
  background: url(../../assets/mountainForest.png) center/cover;
  width: 100%;
  max-width: 1240px;
  height: 223px;
  border-radius: 30px;
  margin: 25px auto;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    z-index: 1;
  }
}

@media screen and (max-width: 420px) {
  .mountain-forest {
    height: 223px;
  }
}
