$primary-color: #ff6060;
$secondary-color: #f6f6f6;

.main-loft {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-infoLoft {
  display: flex;
  justify-content: space-between;
}

///INFORMATON ///
.section-infos {
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
}

.title-loft {
  font-size: 36px;
  margin-top: 1rem;
}
.place-loft {
  color: #ff6060;
}
/// TAGS ///
.all-btn-infos {
  display: flex;
  flex-wrap: wrap;
}
.info-loft ul {
  padding: 0;
}
.btn-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  padding: 0 1rem;
  background-color: $primary-color;
  color: $secondary-color;
  margin: 1rem 1rem 1rem 0;
  border: 1px solid $primary-color;
  border-radius: 30px;
  cursor: default;
}

/// HOST ///
.section-host {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.Host-stuff {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}
.host-name {
  font-size: 18px;
  color: $primary-color;
  margin: 1rem;
  width: 93px;
}
.host-face {
  width: 64px;
  height: 64px;
  background-color: #c4c4c4;
  border-radius: 50px;
}

/**************** MEDIA QUERIES*******************/

@media screen and (max-width: 960px) {
  .title-loft {
    font-size: 26px;
  }
}
@media screen and (max-width: 750px) {
  .host-face {
    width: 45px;
    height: 45px;
  }
}
@media screen and (max-width: 620px) {
  .btn-info {
    height: 18px;
    font-size: 10px;
  }
  .title-loft {
    font-size: 20px;
  }
}
@media screen and (max-width: 520px) {
  /// TITLE ///
  .title-loft {
    font-size: 18px;
  }
  .place-loft {
    font-size: 14px;
  }
  /// HOST ///
  .section-infos {
    flex-direction: column;
  }
  .section-host {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .main-infoLoft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .host-face {
    width: 32px;
    height: 32px;
  }
  .host-name {
    font-size: 12px;
    margin: 0;
    width: 80px;
  }
}
