$primary-color: #ff6060;
$secondary-color: #f6f6f6;

.main-loft {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-infoLoft {
  display: flex;
  justify-content: space-between;
}
/// IMAGE ///
.Caroussel-Container {
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
.Slide-Img {
  width: 100%;
  height: 415px;
  object-fit: cover;
}

/// IMAGE BTN ///

.svg-inline--fa {
  color: #ffffff;
  width: 47px;
  height: 80px;
}
.prev-button,
.next-button {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 7%;
  border: none;
  transform: translateX(25%);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev-button {
  left: 0;
  transform: translateX(0%);
}
.next-button {
  right: 0;
  transform: translateX(0%);
}

///INFORMATON ///
.section-infos {
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
}

.title-loft {
  font-size: 36px;
  margin-top: 1rem;
}
.place-loft {
  color: #ff6060;
}
/// TAGS ///
.all-btn-infos {
  display: flex;
}
.info-loft ul {
  padding: 0;
}
.btn-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 25px;
  padding: 0 1rem;
  background-color: $primary-color;
  color: $secondary-color;
  margin: 1rem 1rem 1rem 0;
  border: 1px solid $primary-color;
  border-radius: 30px;
}

/// HOST ///
.section-host {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.Host-stuff {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}
.host-name {
  font-size: 18px;
  color: $primary-color;
  margin: 1rem;
  width: 93px;
}
.host-face {
  width: 64px;
  height: 64px;
  background-color: #c4c4c4;
  border-radius: 50px;
}
/// Stars ///
.red {
  color: $primary-color;
  width: 36px;
  height: 36px;
}
.grey {
  color: #e3e3e3;
  width: 36px;
  height: 36px;
}

/**************** MEDIA QUERIES*******************/

@media screen and (max-width: 960px) {
  .title-loft {
    font-size: 26px;
  }
}
@media screen and (max-width: 750px) {
  .red,
  .grey {
    width: 20px;
    height: 20px;
  }
  .host-face {
    width: 45px;
    height: 45px;
  }
  .svg-inline--fa {
    width: 30px;
    height: 51px;
  }
}
@media screen and (max-width: 620px) {
  .btn-info {
    width: 84px;
    height: 18px;
    font-size: 10px;
  }
  .title-loft {
    font-size: 20px;
  }
  /// IMAGE ///
  .Slide-Img{
    height: 255px;
  }
}
@media screen and (max-width: 520px) {
  /// TITLE ///
  .title-loft {
    font-size: 18px;
  }
  .place-loft {
    font-size: 14px;
  }
  /// HOST ///
  .section-infos {
    flex-direction: column;
  }
  .section-host {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .main-infoLoft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .host-face {
    width: 32px;
    height: 32px;
  }
  .host-name {
    font-size: 12px;
    margin: 0;
    width: 80px;
  }
  /// BTN SIDE ///
  .svg-inline--fa {
    width: 12px;
    height: 20px;
  }
}
