$primary-color: #ff6060;
$secondary-color: #f6f6f6;

.section-description {
  display: flex;
  justify-content: space-between;
  margin: 25px auto;
  width: 100%;
  max-width: 1240px;
}
.btn-select {
  width: 100%;
  max-width: 580px;
  margin-right: 1rem;
}

.open {
  height: 50px;
  overflow: hidden;
}
.close {
  height: 0;
  overflow: hidden;
  padding: 0 1rem !important;
  background-color: transparent;
}
.select-content {
  padding: 2rem 1rem;
  background-color: $secondary-color;
  transition: height ease 0.3s;
}
.arrow {
  width: 18px;
  height: 20px;
  transition: transform 0.35s ease-in-out;
}
.up {
  transform: rotate(180deg);
}
.down {
  transform: rotate(0deg);
}
.appear {
  color: $primary-color;
  height: 100%;
  // padding: 1rem;
  display: flex;
  align-items: center;
}
.disappear {
  color: transparent;
}

.select-loft {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 15px;
  font-size: 18px;
  cursor: default;
}

.all-tools {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}

/**************** MEDIA QUERIES*******************/

@media screen and (max-width: 520px) {
  .section-description {
    flex-direction: column;
    align-items: center;
  }
  .btn-select {
    margin: 1rem 0;
  }
}
