$primary-color: #ff6060;
$secondary-color: #f6f6f6;
.select-container {
  display: flex;
  width: 100%;
  max-width: 1240px;
  margin: 1rem 0;
}
.select {
  position: relative;
  width: 100%;
  background-color: $primary-color;
  color: white;
  padding: 0;
  border-radius: 10px;
  margin: 0 auto;

  // &.open {
  //   background-color: $primary-color;
  // }

  .select-header {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 15px;
    font-size: 24px;
    cursor: pointer;
  }
  .arrow {
    margin-left: auto;
    margin-right: 5px;
    cursor: pointer;
  }
  .text {
    background-color: $secondary-color;
    font-size: 18px;
  }
}


/**************** MEDIA QUERIES*******************/

@media screen and (max-width: 520px){
  .select .select-header {
    font-size: 18px;
  }
  .select .text {
    font-size: 12px;
    padding: 0;
  }
  .select .select-content {
    padding: 1rem;
  }
}
@media screen and (max-width: 420px){
  .select .select-header {
    font-size: 13px;
  }
}
