$primary-color: #ff6060;
$secondary-color: #f6f6f6;
.select-container {
  display: flex;
  width: 100%;
  max-width: 1240px;
  margin: 1rem 0;
}
.select {
  position: relative;
  width: 100%;
  background-color: $primary-color;
  color: white;
  padding: 0;
  border-radius: 10px;
  margin: 0 auto;
}
.select-header {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 15px;
  font-size: 24px;
  cursor: pointer;
}

/// ICON ARROW ///
.arrow {
  margin-left: auto;
  margin-right: 5px;
  width: 18px;
  height: 20px;
  transition: transform 0.35s ease-in-out;
  cursor: pointer;
}
.up {
  transform: rotate(180deg);
}
.down {
  transform: rotate(0deg);
}

/// DIV TEXT ///
.content-parent {
  height: 0px;
  overflow: hidden;
  padding: 0 !important;
  transition: height ease 0.6s;
  background-color: $secondary-color;
}
.text {
  background-color: $secondary-color;
  font-size: 18px;
  color: $primary-color;
  list-style: none;
}
.collapse__textWrapper {
  background-color: $secondary-color;
  padding: 1rem;
}

.open {
  overflow: hidden;
}
.close {
  height: 0;
  overflow: hidden;
}


// .select-loft {
//   display: flex;
//   align-items: center;
//   padding: 10px 20px 10px 15px;
//   font-size: 18px;
//   cursor: default;
// }

/**************** MEDIA QUERIES*******************/
@media screen and (max-width: 760px) {
  .select .select-header {
    font-size: 18px;
    // padding: 0;
  }
  .select .text {
    font-size: 16px;
  }
}
@media screen and (max-width: 520px) {
  .select .select-header {
    font-size: 18px;
    padding: 10px 20px 10px 15px;
  }
  .select .text {
    font-size: 12px;
    padding: 0;
  }
  .select .select-content {
    padding: 1rem;
  }
  .section-description {
    flex-direction: column;
    align-items: center;
  }
  .btn-select {
    margin: 1rem 0;
  }
}
@media screen and (max-width: 420px) {
  .select .select-header {
    font-size: 13px;
  }
}
