.Caroussel-Container {
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
/// IMAGE ///

.Slide-Img {
  width: 100%;
  height: 415px;
  object-fit: cover;
}
/// IMAGE BTN ///

button .svg-inline--fa {
  color: #ffffff;
  width: 47px;
  height: 80px;
}
.prev-button,
.next-button {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 7%;
  border: none;
  transform: translateX(25%);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev-button {
  left: 0;
  transform: translateX(0%);
}
.next-button {
  right: 0;
  transform: translateX(0%);
}
.no-button {
  display: none;
}
.indicator {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  color: white;
  margin: 1rem 0;
  font-size: large;
}




/**************** MEDIA QUERIES*******************/

@media screen and (max-width: 750px){
  .Caroussel-Container .svg-inline--fa {
    width: 30px;
    height: 51px;
  }
}

@media screen and (max-width: 620px){
  .Slide-Img {
    height: 255px;
  }
}
@media screen and (max-width: 520px){
  .prev-button{
    transform: translateX(25%);
  }
  .next-button{
    transform: translateX(-25%);
  }
}
@media screen and (max-width: 420px){
  .Caroussel-Container .svg-inline--fa {
    width: 20px;
    height: 34px;
  }
  .indicator{
    display: none;
  }
}
